@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,regular,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Roboto Condensed";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto Condensed";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  line-height: 1.1666666667;
  background-color: #0E0E0E;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
  text-align: right;
}

.lock .popup__content {
  visibility: visible;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-size: 2.25rem;
  line-height: 1.1666666667;
  text-align: center;
}

.title-blue {
  font-weight: 300;
  font-style: italic;
  font-size: 4.5rem;
  line-height: 1.1666666667;
  color: #85CCDC;
}

.popup__text {
  position: relative;
  width: 100%;
  padding-bottom: 60%;
}

.popup__text iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.popup__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.popup__close {
  display: block;
  position: relative;
  width: 1.875rem;
  height: 1.125rem;
  cursor: pointer;
  z-index: 5;
  margin: 0rem 0rem 0.625rem 0rem;
  text-align: right;
}

.popup__close span,
.popup__close::before,
.popup__close::after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  right: 0;
  position: absolute;
  width: 100%;
  height: 0.125rem;
  background-color: #0E0E0E;
}

.popup__close span {
  width: 0;
}

.popup__close::before {
  top: calc(50% - 0.0625rem);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup__close::after {
  bottom: calc(50% - 0.0625rem);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.no-webp .header{
  background-image: url("../img/bg.png"); }

.header {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  position: relative;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.625rem 0rem 0rem 0rem;
}

.header__logo {
  margin: 0rem 8.4375rem 0rem 0rem;
  position: relative;
  z-index: 5;
}

.menu__icon {
  display: none;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item:not(:last-child) {
  margin: 0rem 1.5625rem 0rem 0rem;
}

.menu__link {
  line-height: 1.1666666667;
}

@supports (font-size: clamp( 1.5rem , 1.2362637363rem  +  1.3186813187vw , 2.25rem )) {
  .menu__link {
    font-size: clamp( 1.5rem , 1.2362637363rem  +  1.3186813187vw , 2.25rem );
  }
}

@supports not (font-size: clamp( 1.5rem , 1.2362637363rem  +  1.3186813187vw , 2.25rem )) {
  .menu__link {
    font-size: calc(1.5rem + 0.75 * (100vw - 20rem) / 56.875);
  }
}

.menu__link_active {
  color: #85CCDC;
  text-decoration: underline;
}

.icon-menu {
  display: none;
}

@supports (padding-top: clamp( 1.875rem , 0.3365384615rem  +  7.6923076923vw , 6.25rem )) {
  .intro {
    padding-top: clamp( 1.875rem , 0.3365384615rem  +  7.6923076923vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 0.3365384615rem  +  7.6923076923vw , 6.25rem )) {
  .intro {
    padding-top: calc(1.875rem + 4.375 * (100vw - 20rem) / 56.875);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 0.3365384615rem  +  7.6923076923vw , 6.25rem )) {
  .intro {
    padding-bottom: clamp( 1.875rem , 0.3365384615rem  +  7.6923076923vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.3365384615rem  +  7.6923076923vw , 6.25rem )) {
  .intro {
    padding-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 56.875);
  }
}

@supports (margin-bottom: clamp( 1.875rem , 0.3365384615rem  +  7.6923076923vw , 6.25rem )) {
  .intro__title {
    margin-bottom: clamp( 1.875rem , 0.3365384615rem  +  7.6923076923vw , 6.25rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.3365384615rem  +  7.6923076923vw , 6.25rem )) {
  .intro__title {
    margin-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 56.875);
  }
}

.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro__info {
  margin: 0rem 1.875rem 0rem 0rem;
}

.intro__item:not(:last-child) {
  margin: 0rem 0rem 1.875rem 0rem;
}

.intro__item-title {
  font-weight: 700;
}

.intro__item-title:not(:last-child) {
  margin: 0rem 0rem 0.3125rem 0rem;
}

.intro__descr {
  max-width: 48.4375rem;
  width: 100%;
}

.intro__descr-text:not(:last-child) {
  margin: 0rem 0rem 1.875rem 0rem;
}

.no-webp .trailer{
  background-image: url("../img/trailer-bg.jpg"); }

.trailer {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.trailer__body {
  margin-left: 50%;
  padding-top: 30vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.trailer__inner {
  margin-bottom: 1.25rem;
}

.trailer__title {
  margin: 0rem 0rem 1.25rem 0rem;
}

@supports (font-size: clamp( 1.875rem , 0.9519230769rem  +  4.6153846154vw , 4.5rem )) {
  .trailer__title {
    font-size: clamp( 1.875rem , 0.9519230769rem  +  4.6153846154vw , 4.5rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 0.9519230769rem  +  4.6153846154vw , 4.5rem )) {
  .trailer__title {
    font-size: calc(1.875rem + 2.625 * (100vw - 20rem) / 56.875);
  }
}

.trailer__title2 {
  text-align: right;
}

@supports (font-size: clamp( 1.875rem , 0.9519230769rem  +  4.6153846154vw , 4.5rem )) {
  .trailer__title2 {
    font-size: clamp( 1.875rem , 0.9519230769rem  +  4.6153846154vw , 4.5rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 0.9519230769rem  +  4.6153846154vw , 4.5rem )) {
  .trailer__title2 {
    font-size: calc(1.875rem + 2.625 * (100vw - 20rem) / 56.875);
  }
}

.trailer__play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trailer__btn {
  margin: 0rem 0.9375rem 0rem 0rem;
}

@supports (padding-top: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
  .all {
    padding-top: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
  .all {
    padding-top: calc(3.125rem + 3.125 * (100vw - 20rem) / 56.875);
  }
}

@supports (padding-bottom: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
  .all {
    padding-bottom: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
  .all {
    padding-bottom: calc(3.125rem + 3.125 * (100vw - 20rem) / 56.875);
  }
}

@supports (margin-bottom: clamp( 6.25rem , 4.7115384615rem  +  7.6923076923vw , 10.625rem )) {
  .all__title {
    margin-bottom: clamp( 6.25rem , 4.7115384615rem  +  7.6923076923vw , 10.625rem );
  }
}

@supports not (margin-bottom: clamp( 6.25rem , 4.7115384615rem  +  7.6923076923vw , 10.625rem )) {
  .all__title {
    margin-bottom: calc(6.25rem + 4.375 * (100vw - 20rem) / 56.875);
  }
}

.all__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 4.6875rem;
     -moz-column-gap: 4.6875rem;
          column-gap: 4.6875rem;
  row-gap: 6.25rem;
}

.all__item {
  max-width: 21.875rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.all__num {
  color: #600E09;
  font-weight: 700;
  font-size: 6rem;
  line-height: 1.1666666667;
  position: absolute;
  left: 0;
  top: -4.375rem;
}

.all__image {
  padding-bottom: 71%;
  position: relative;
}

.all__image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(14, 14, 14, 0.8);
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
}

.all__text {
  position: absolute;
  padding: 0.75rem 5.0625rem;
  background-color: #0E0E0E;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  display: none;
}

@supports (padding-top: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
  .actors {
    padding-top: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
  .actors {
    padding-top: calc(3.125rem + 3.125 * (100vw - 20rem) / 56.875);
  }
}

@supports (padding-bottom: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
  .actors {
    padding-bottom: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
  .actors {
    padding-bottom: calc(3.125rem + 3.125 * (100vw - 20rem) / 56.875);
  }
}

@supports (margin-bottom: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
  .actors__title {
    margin-bottom: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem );
  }
}

@supports not (margin-bottom: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
  .actors__title {
    margin-bottom: calc(3.125rem + 3.125 * (100vw - 20rem) / 56.875);
  }
}

.actors__slider {
  position: relative;
}

.actors__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 4.6875rem;
     -moz-column-gap: 4.6875rem;
          column-gap: 4.6875rem;
}

.actors__slide-image {
  max-width: 48.4375rem;
  width: 100%;
}

.actors__image {
  padding-bottom: 57%;
}

.actors__slide-info {
  max-width: 21.875rem;
  max-height: 17.1875rem;
  overflow: hidden;
}

@supports (font-size: clamp( 2.5rem , 1.7967032967rem  +  3.5164835165vw , 4.5rem )) {
  .actors__slide-title {
    font-size: clamp( 2.5rem , 1.7967032967rem  +  3.5164835165vw , 4.5rem );
  }
}

@supports not (font-size: clamp( 2.5rem , 1.7967032967rem  +  3.5164835165vw , 4.5rem )) {
  .actors__slide-title {
    font-size: calc(2.5rem + 2 * (100vw - 20rem) / 56.875);
  }
}

@supports (margin-bottom: clamp( 1.5625rem , 1.1229395604rem  +  2.1978021978vw , 2.8125rem )) {
  .actors__slide-title {
    margin-bottom: clamp( 1.5625rem , 1.1229395604rem  +  2.1978021978vw , 2.8125rem );
  }
}

@supports not (margin-bottom: clamp( 1.5625rem , 1.1229395604rem  +  2.1978021978vw , 2.8125rem )) {
  .actors__slide-title {
    margin-bottom: calc(1.5625rem + 1.25 * (100vw - 20rem) / 56.875);
  }
}

.actors__slide-text:not(:last-child) {
  margin: 0rem 0rem 1.5625rem 0rem;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
}

.swiper-button-prev {
  left: 2.1875rem;
}

.swiper-button-next {
  right: 28.75rem;
}

.no-webp .header01{
  background-image: url("../img/season01/bg01.jpg"); }

.header01__see {
  line-height: 1.1666666667;
  color: #85CCDC;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@supports (font-size: clamp( 2.25rem , 0.9313186813rem  +  6.5934065934vw , 6rem )) {
  .header01__see {
    font-size: clamp( 2.25rem , 0.9313186813rem  +  6.5934065934vw , 6rem );
  }
}

@supports not (font-size: clamp( 2.25rem , 0.9313186813rem  +  6.5934065934vw , 6rem )) {
  .header01__see {
    font-size: calc(2.25rem + 3.75 * (100vw - 20rem) / 56.875);
  }
}

.header01__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.8125rem;
     -moz-column-gap: 2.8125rem;
          column-gap: 2.8125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  max-width: 87.5rem;
  width: 100%;
  background-color: #0E0E0E;
  padding: 2.8125rem 2.1875rem;
}

.header01__info-num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 6rem;
  line-height: 1.1666666667;
  font-weight: 700;
}

.header01__info-season {
  font-size: 2.25rem;
  line-height: 1.1666666667;
}

.header01__info-text {
  margin: 0rem 0rem 1.25rem 0rem;
}

.no-webp .header02{
  background-image: url("../img/season02/bg02.jpg"); }

.no-webp .header03{
  background-image: url("../img/season03/bg03.jpg"); }

.no-webp .header04{
  background-image: url("../img/season04/bg04.jpg"); }

.no-webp .header05{
  background-image: url("../img/season05/bg05.jpg"); }

.no-webp .header06{
  background-image: url("../img/season06/bg06.jpg"); }

.footer__text {
  padding: 0.875rem 0rem;
  text-align: center;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 61.99875em) {
  .header01__see {
    display: none;
  }
}

@media (max-width: 520px) {
  .trailer__play {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    row-gap: 1.25rem;
  }
}

@media (max-width: 76.875em) {
  .header__body {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__logo {
    margin: 0rem 0rem 0rem 0rem;
  }
}

@media (max-width: 61.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    overflow: auto;
    background-color: rgba(14, 14, 14, 0.8);
    padding: 4.375rem 0rem 0rem 0rem;
    z-index: 3;
    -webkit-transition: left 0.5s ease 0s;
    -o-transition: left 0.5s ease 0s;
    transition: left 0.5s ease 0s;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 4.375rem;
    z-index: 2;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__item:not(:last-child) {
    margin: 0rem 0rem 1.25rem 0rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .intro__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .intro__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
    row-gap: 0.9375rem;
    margin: 0rem 0rem 0rem 0rem;
  }

  .intro__item:not(:last-child) {
    margin: 0rem 0rem 0rem 0rem;
  }

  .intro__item:last-child {
    margin: 0rem 0rem 1.875rem 0rem;
  }

  .intro__descr {
    max-width: 100%;
  }

  .all__content {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }

  .actors__slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .actors__slide-image {
    margin: 0rem 0rem 1.875rem 0rem;
  }

  .actors__slide-info {
    max-width: 100%;
    max-height: 100%;
    overflow: visible;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  .header01__info {
    position: relative;
  }
}

@media (max-width: 47.99875em) {
  .all__content {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }

  .header01__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0rem 0rem 0rem 0rem;
  }

  .header01__info-num {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 2.25rem;
  }

  .header01__info-season {
    margin: 0rem 0rem 0rem 0.9375rem;
  }
}

@media (max-width: 29.99875em) {
  .intro__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (any-hover: hover) {
  .popup__close:hover {
    -webkit-animation: rotate-scale-up 0.65s linear both;
            animation: rotate-scale-up 0.65s linear both;
  }

@-webkit-keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }

    50% {
      -webkit-transform: scale(2) rotateZ(180deg);
              transform: scale(2) rotateZ(180deg);
    }

    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
}

@keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }

    50% {
      -webkit-transform: scale(2) rotateZ(180deg);
              transform: scale(2) rotateZ(180deg);
    }

    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
}

  .menu__link {
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .menu__link:hover {
    color: #85CCDC;
    text-decoration: underline;
  }

  .all__image {
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .all__image:hover::after {
    display: block;
  }

  .all__image:hover .all__text {
    display: block;
  }
}

.webp .header{ background-image: url(../img/bg.webp); }

.webp .trailer{ background-image: url(../img/trailer-bg.webp); }

.webp .header01{ background-image: url(../img/season01/bg01.webp); }

.webp .header02{ background-image: url(../img/season02/bg02.webp); }

.webp .header03{ background-image: url(../img/season03/bg03.webp); }

.webp .header04{ background-image: url(../img/season04/bg04.webp); }

.webp .header05{ background-image: url(../img/season05/bg05.webp); }

.webp .header06{ background-image: url(../img/season06/bg06.webp); }